@using System.Web.Optimization;
@using BE;
@using BO;

@{
    UsuarioBE oUsuario = (UsuarioBE)Session["usuario"];
    var imagenUsuario = oUsuario.imgData;
    if (imagenUsuario == "")
    {
        imagenUsuario = "/Imagenes/avatar.png";
    }
}
<!DOCTYPE html>
<html lang="es" ng-app="myapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema Examen - Online</title>
    <link rel="icon" href="@Url.Content("~/Imagenes/icon-test-40x40.png")" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/dist/css/skins/_all-skins.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link href="~/CSS/ExamenStyle.css" rel="stylesheet" />
    <!-- Sweet Alert Style -->
    <link href="~/bower_components/sweet-alert/css/sweetalert2.min.css" rel="stylesheet" />
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- Sweet Alert JS -->
    <script src="~/bower_components/sweet-alert/js/sweetalert2.all.min.js"></script>
    @Scripts.Render("~/bundles/AngularJs")
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

</head>
<!-- ADD THE CLASS sidebar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue fixed sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">PY</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">Proyecto Integrador</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @*
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
                <li class="header">You have 4 messages</li>
                <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                        <li>
                            <!-- start message -->
                            <a href="#">
                                <div class="pull-left">
                                    <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                </div>
                                <h4>
                                    Support Team
                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                </h4>
                                <p>Why not buy a new awesome theme?</p>
                            </a>
                        </li>
                        <!-- end message -->
                    </ul>
                </li>
                <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
        </li>
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
                <li class="header">You have 10 notifications</li>
                <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer"><a href="#">View all</a></li>
            </ul>
        </li>
        <!-- Tasks: style can be found in dropdown.less -->
        <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-flag-o"></i>
                <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
                <li class="header">You have 9 tasks</li>
                <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                        <li>
                            <!-- Task item -->
                            <a href="#">
                                <h3>
                                    Design some buttons
                                    <small class="pull-right">20%</small>
                                </h3>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end task item -->
                    </ul>
                </li>
                <li class="footer">
                    <a href="#">View all tasks</a>
                </li>
            </ul>
        </li>
                        *@
                        <!-- User Account: style can be found in dropdown.less -->

                        @if (oUsuario.TipoUsuario.IdTipoUsuario == 0)
                        {
                            <li>
                                <a href="~/comprar/Index" style="background-color:#fba905;">Planes</a>
                            </li>
                        }

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@imagenUsuario" class="user-image" alt="User Image">
                                <span class="hidden-xs"><span class="usuario-nombres">@oUsuario.Nombres</span> <span class="usuario-apaterno">@oUsuario.ApellidoPaterno</span> <span class="usuario-amaterno">@oUsuario.ApellidoMaterno</span></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@imagenUsuario" class="img-circle" alt="User Image">

                                    <p>
                                        @Html.Label(oUsuario.Nombres) @Html.Label(oUsuario.ApellidoPaterno) @Html.Label(oUsuario.ApellidoMaterno)
                                        <small>Miembro desde @oUsuario.FechaRegistro.ToShortDateString()</small>
                                        <small>Usuario: @oUsuario.TipoUsuario.Descripcion</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Seguidores</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Ventas</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Amigos</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("CerrarSesion", "Login")" id="btnCerrarSesion" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@imagenUsuario" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@Html.Label(oUsuario.Nombres)</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="BUSCAR...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MENU NAVEGACIÓN</li>
                    @{ 
                        // Obtención de la lista de Categorías por Rol
                        AccesoBO boAcceso = new AccesoBO();
                        var listaCategorias = boAcceso.ListaCategoriaPorRol(oUsuario.Rol.IdRol.ToString()).ToList();
                    }

                    @foreach (var i in listaCategorias)
                    {
                    <li class="treeview">
                        <a href="#">
                            <i class="@i.IconoCategoria"></i> <span>@i.NombreCategoria</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        @{
                            // Obtención de la lista de Enlaces por categoría
                            var listaEnlaces = boAcceso.ListarEnlacePorCategoria(i.IdCategoria).ToList();
                        }
                        <ul class="treeview-menu">
                            @foreach (var e in listaEnlaces)
                            {
                                <li class=""><a href="~/@e.UrlEnlace"><i class="@e.EnlaceIcono"></i>@e.NombreEnlace</a></li>
                            }
                        </ul>
                    </li>
                    } 

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <section class="content container-fluid">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer no-print">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2018 <a href="#">Sistema de Examen Online</a>.</strong> Todos los derechos Reservados.
        </footer>
        </div>
    <!-- ./wrapper -->
    <script>
        const url = @System.Configuration.ConfigurationManager.AppSettings["ApiExamenOnlineEndpointBase"];
    </script>
</body>
</html>